<!DOCTYPE html>
<html ng-app="libraryApp">
<head>
    <title>Library Application</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>
        var app = angular.module('libraryApp', []);
        app.controller('LibraryController', function($scope) {
            $scope.library = [
                { category: 'Fiction', count: 120 },
                { category: 'Non-Fiction', count: 80 },
                { category: 'Science', count: 150 },
                { category: 'Mathematics', count: 70 }
            ];

            $scope.addCategory = function() {
                if ($scope.newCategory && !$scope.library.some(cat => cat.category === $scope.newCategory)) {
                    $scope.library.push({ category: $scope.newCategory, count: $scope.newCount || 0 });
                    $scope.newCategory = '';
                    $scope.newCount = '';
                } else {
                    alert('Category name must be unique!');
                }
            };
        });
    </script>
</head>
<body ng-controller="LibraryController">
    <h1>Library Book Categories</h1>
    <table border="1">
        <tr>
            <th>Category</th>
            <th>Book Count</th>
        </tr>
        <tr ng-repeat="item in library">
            <td>{{ item.category }}</td>
            <td><input type="number" ng-model="item.count"></td>
        </tr>
    </table>
    
    <h3>Add New Category</h3>
    <input type="text" ng-model="newCategory" placeholder="Category Name">
    <input type="number" ng-model="newCount" placeholder="Initial Book Count">
    <button ng-click="addCategory()">Add Category</button>
</body>
</html>